.affiliatePage {
    width: 100%;
    height: auto;
    padding: 7vh 0;

    .affiliate_banner {
        width: 100%;
        height: 72vw;
    }

    .titleLine {
        width: 98%;
        height: 12vw;
        margin: 2vw auto;

        &:first-child {
            margin: 8vw auto 4vw;
        }
    }

    .subTitle {
        color: $mainColor_1;
        font-size: 1.2rem;
        font-weight: bold;
        text-shadow: 2px 2px 0 $textShadow_1;
        text-align: center;
        margin-bottom: 4vw;

        &.big {
            font-size: 2rem;
        }

        &.le {
            color: $subColor_4;
            font-size: 1rem;
            text-align: left;
            margin-bottom: 2vw;
        }
    }
    
    .textBox {
        width: 94%;
        height: auto;
        margin: 0 auto;

        &.privacy {

            .le {

                &:not(:first-of-type) {
                    margin-top: 6vw;
                }
            }
        }

        p {
            color: $mainColor_1;
            font-size: 0.85rem;
            font-weight: bold;
            line-height: 1.5rem;
            word-break: break-all;
        }
    }

    .uploadBox {
        width: 96%;
        height: auto;
        @include bgStyle_2;
        margin: 0 auto 12vw;
        padding: 6vw;

        .uploadArea {
            display: block;
            width: 36vw;
            height: 36vw;
            background: none;
            position: relative;
            margin: 0 auto;

            &::before {
                @include bgStyle_1;
                border: dashed 2px $mainBorder_1;
                border-radius: 2vw;
                opacity: 0.35;
            }

            p {
                color: $mainColor_1;
                font-size: 0.85rem;
                font-weight: bold;
                opacity: 0.5;
            }
        }

        .innerTitle {
            color: $mainColor_1;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            margin: 4vw 0;
        }

        .textBox {
            width: 100%;
            height: auto;
    
            p {
                color: $mainColor_1;
                font-size: 0.85rem;
                font-weight: bold;
                line-height: 1.5rem;
                word-break: break-all;
            }
        }
    }

    .affiliateTable {
        width: 96%;
        height: auto;
        box-shadow: 0 0 0 2px $mainBorder_2;
        border-radius: 2vw;
        position: relative;
        margin: 0 auto 4vw;

        &::before {
            @include bgStyle_1;
            background: $mainBG_3;
            opacity: 0.3;
        }

        tr {
            border-bottom: solid 2px $mainBorder_2;

            &:last-child {
                border: none;
            }

            th {
                height: 15vw;
                border-right: solid 2px $mainBorder_2;
                vertical-align: middle;
                position: relative;

                &::before {
                    @include bgStyle_1;
                    background: $mainBG_3;
                    opacity: 0.3;
                }

                &:last-child {
                    border: none;
                }

                p {
                    color: $mainColor_1;
                    font-size: 0.85rem;
                    font-weight: bold;
                    text-align: center;
                }
            }

            td {
                height: 15vw;
                border-right: solid 2px $mainBorder_2;
                vertical-align: middle;

                &:last-child {
                    border: none;
                }

                p {
                    color: $mainColor_1;
                    font-size: 0.85rem;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }

    .check {
        display: block;
        width: 35vw;
        height: 15vw;
        color: $mainColor_2;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 auto;
        padding-bottom: 1vw;
    }

    .img_1 {
        width: 90vw;
        height: 52vw;
        margin: 0 auto 3vw;
    }

    .faqList {
        width: 96%;
        height: auto;
        margin: 0 auto;

        li {
            width: 100%;
            height: auto;
            margin-bottom: 4vw;

            .faqBase {
                width: 67vw;
                height: 10vw;
                display: flex;
                align-items: center;
                margin-bottom: 2vw;
                padding: 0 4vw 1.5vw;

                p {
                    color: $mainColor_1;
                    font-size: 0.85rem;
                    font-weight: bold;
                    text-shadow: 2px 2px 0 $textShadow_1;
                }
            }

            .textBox {
                width: 100%;
                height: auto;
                padding: 0 4vw;

                p {
                    color: $mainColor_1;
                    font-size: 0.85rem;
                    font-weight: bold;
                    line-height: 1.2rem;

                    .chapter {
                        color: $subColor_4;
                    }

                    .keyword {
                        color: $subColor_7;
                    }

                    &.subTitle {
                        color: $mainColor_1;
                        font-size: 1.2rem;
                        font-weight: bold;
                        text-shadow: 2px 2px 0 $textShadow_1;
                        text-align: center;
                        margin-bottom: 4vw;
                
                        &.big {
                            font-size: 2rem;
                        }
                
                        &.le {
                            color: $subColor_4;
                            font-size: 1rem;
                            text-align: left;
                            margin-bottom: 2vw;
                        }
                    }
                }
            }
        }
    }

    .empty {
        color: $mainColor_1;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        opacity: 0.3;
        padding: 15vh 0;
    }
}